@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Plus Jakarta Sans";
  }

  .font-magneticket {
    font-family: "VT323";
  }
}

.biruTua {
  background-color: #1F2A37;
}

.biruTuaText {
  color: #1F2A37;
}

.biruMuda {
  background-color: #1C64F2;
}

.biruCariTiket {
  background-color: #1A56DB;
}

.biruDaftarSekarang {
  color: #3F83F8;
}

.abuInput {
  background-color: #4B5563;
}

.abu9CA3AF {
  color: #9CA3AF;
}

.bgCardHistory {
  background-color: #D9D9D9;
}

.biruDetail {
  background-color: #3282B8;
}